---
/**
 * * These are medium sized cards with icons, titles, and text
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	title: string;
	text: string;
	button?: string; // text of button
	href: string; // button link
	target?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, button, href, target, ...rest } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<div class="p-8 text-center" {...rest}>
	<div
		class="from-gradient-1 via-gradient-2 to-gradient-3 mx-auto inline-flex size-16 items-center justify-center rounded-lg bg-linear-40"
	>
		<Icon name={icon} class="size-8 text-white" aria-hidden="true" />
	</div>
	<h3 class="h3 mt-8">{title}</h3>
	<p class="description mt-3" set:html={text} />
	<div class="mt-6 flex justify-center">
		{button ? (
			<Button variant="ghost" href={href} arrow="none" target={target}>{button}</Button>
			) : (<></>)
		}
	</div>
</div>
