---
import { type teamMember } from "@config/types/configDataTypes";
import { Image } from "astro:assets";

const { image, name, title, bio } = Astro.props as teamMember;
---

<div class="w-full">
	<div
		class="border-base-200 bg-base-50 dark:border-base-700 dark:bg-base-800 h-full rounded-lg px-10 py-8 text-center dark:border"
	>
		<Image
			src={image}
			alt={name}
			height={320}
			class="mx-auto mb-6 aspect-square size-24 rounded-full object-cover"
		/>
		<h3 class="h2 mb-2">{name}</h3>
		<span class="text-primary-600 dark:text-primary-400 mb-6 inline-block text-lg font-medium"
			>{title}</span
		>
		<p class="description">{bio}</p>
	</div>
</div>
