---
import { getLocaleFromUrl } from "@js/localeUtils";
import { formatDate } from "@js/textUtils";
import { type CollectionEntry } from "astro:content";

interface Props {
	sermon: CollectionEntry<"sermons">;
	class?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { sermon, class: className, ...rest } = Astro.props as Props;
const { fullTitle, speaker, preachDate } = sermon.data;

const currLocale = getLocaleFromUrl(Astro.url);
---

<article class=`${className}` {...rest}>
	<div>
		<!-- title -->
		<div class="mt-3">
			<a
				href={`/sermons/${sermon.id}/`}
				class="decoration-primary-500 hover:underline"
			>
				<h2 class="dark:text-base-100 text-lg font-semibold md:text-xl">
					{fullTitle}
				</h2>
			</a>
		</div>

		<!-- speaker -->
		<p class="text-base-600 dark:text-base-400 mt-2 text-sm font-medium md:text-base">
			{speaker.displayName}
		</p>

		<!-- preach date -->
		<p class="text-base-600 dark:text-base-400 mt-4 text-sm whitespace-nowrap">
			{formatDate(preachDate, currLocale)}
		</p>

		<!-- read post button -->
		<!-- <div class="mt-3">
      <a
        href={`/blog/${post.id}/`}
        class="flex items-center gap-1 font-semibold text-primary-500 transition-colors hover:text-primary-600"
      >
        Read Post
        <Icon name="tabler/arrow-narrow-right" class="size-4" />
      </a>
    </div> -->
	</div>
</article>
