---
import Category from "@components/Category/Category.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { formatDate, humanize, slugify } from "@js/textUtils";
import { Image } from "astro:assets";
import { type CollectionEntry, getEntries } from "astro:content";
import { Icon } from "astro-icon/components";

interface Props {
	post: CollectionEntry<"blog">;
	showDescription?: boolean;
	class?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { post, showDescription = false, class: className, ...rest } = Astro.props as Props;
const { title, description, categories, authors, pubDate, heroImage } = post.data;

const currLocale = getLocaleFromUrl(Astro.url);
// const authorsData = await getEntries(authors);
---

<article class=`${className}` {...rest}>
	<a
		href={`/blog/${post.id}/`}
		class="flex aspect-[16/10] max-h-96 shrink-0 justify-center overflow-hidden rounded-md sm:justify-normal"
	>
		<figure>
			<Image
				src={heroImage}
				alt={`Cover for ${title}`}
				height={700}
				quality="high"
				class="h-auto min-h-full w-full rounded-md object-cover transition-all duration-500 hover:scale-105"
			/>
		</figure>
	</a>
	<div>
		<!-- categories -->
		<div class="mt-6 flex flex-wrap gap-4">
			{categories.map((category) => <Category category={category} />)}
		</div>

		<!-- title -->
		<div class="mt-3">
			<a
				href={`/blog/${post.id}/`}
				class="decoration-primary-500 hover:underline"
			>
				<h2 class="dark:text-base-100 text-lg font-semibold md:text-xl">
					{title}
				</h2>
			</a>
		</div>

		<!-- description -->
		{
			showDescription && (
				<p class="text-base-600 dark:text-base-400 mt-2 text-sm font-medium md:text-base">
					{description}
				</p>
			)
		}

		<!-- published date -->
		<p class="text-base-600 dark:text-base-400 mt-4 text-sm whitespace-nowrap">
			{formatDate(pubDate, currLocale)}
		</p>

		<!-- read post button -->
		<!-- <div class="mt-3">
      <a
        href={`/blog/${post.id}/`}
        class="flex items-center gap-1 font-semibold text-primary-500 transition-colors hover:text-primary-600"
      >
        Read Post
        <Icon name="tabler/arrow-narrow-right" class="size-4" />
      </a>
    </div> -->
	</div>
</article>
