---
/**
 * * Integrations list
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */
import { Icon } from "astro-icon/components";

interface CardData {
	icon: string;
	company: string;
}

interface FeatureData {
	topRow: CardData[]; // icon locations for astro-icon
	botRow: CardData[];
}

import Badge from "@components/Badge/Badge.astro";
import FeatureCardIntegration from "@components/FeatureCard/FeatureCardIntegration.astro";

const featureData: FeatureData = {
	topRow: [
		{
			icon: "nova/brands/dropbox",
			company: "Dropbox",
		},
		{
			icon: "nova/brands/shopify",
			company: "Shopify",
		},
		{
			icon: "nova/brands/hubspot",
			company: "Hubspot",
		},
		{
			icon: "nova/brands/slack",
			company: "Slack",
		},
		{
			icon: "nova/brands/shopify",
			company: "Shopify",
		},
		{
			icon: "nova/brands/zapier",
			company: "Zapier",
		},
		{
			icon: "nova/brands/hubspot",
			company: "Hubspot",
		},
	],
	botRow: [
		{
			icon: "nova/brands/intercom",
			company: "Intercom",
		},
		{
			icon: "nova/brands/zapier",
			company: "Zapier",
		},
		{
			icon: "nova/brands/kickstarter",
			company: "Kickstarter",
		},
		{
			icon: "nova/brands/mailchimp",
			company: "Mailchimp",
		},
		{
			icon: "nova/brands/dropbox",
			company: "Dropbox",
		},
		{
			icon: "nova/brands/intercom",
			company: "Intercom",
		},
		{
			icon: "nova/brands/hubspot",
			company: "Hubspot",
		},
	],
};
---

<section
	id="feature-integrations"
	class="bg-base-100 dark:bg-base-950 overflow-x-hidden py-16 md:py-24"
>
	<div class="mx-auto max-w-[1800px]">
		<div class="site-container">
			<div class="mx-auto mb-16 max-w-xl text-center">
				<Badge>300+ tools available</Badge>
				<h2 class="h2 mt-6">Integrate it with your favourite tools</h2>
				<p class="description mt-4 text-xl tracking-tight">
					Use and reuse tons of responsive sections to create the perfect layout. Sections are
					ready.
				</p>
			</div>
		</div>
		<div class="relative">
			<!-- left fade-out -->
			<div
				class="from-base-100 dark:from-base-950 absolute top-0 -left-px z-10 h-full w-[15%] bg-gradient-to-r from-20% to-transparent"
			>
			</div>
			<!-- right fade-out -->
			<div
				class="to-base-100 dark:to-base-950 absolute top-0 -right-px z-10 h-full w-[15%] bg-gradient-to-r from-transparent to-80%"
			>
			</div>

			<div class="relative flex flex-col gap-0 overflow-hidden">
				<!-- marquee top row -->
				<div class="marquee-top-integrations relative flex gap-0 overflow-hidden">
					<div
						class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0"
					>
						{
							featureData.topRow.map((card, idx) => (
								<FeatureCardIntegration icon={card.icon} company={card.company} />
							))
						}
					</div>
					<div
						aria-hidden="true"
						class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0"
					>
						{
							featureData.topRow.map((card, idx) => (
								<FeatureCardIntegration icon={card.icon} company={card.company} />
							))
						}
					</div>
				</div>

				<!-- marquee bottom row -->
				<div class="marquee-bot-integrations relative flex gap-0 overflow-hidden">
					<div
						class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0 [animation-direction:reverse]"
					>
						{
							featureData.botRow.map((card, idx) => (
								<FeatureCardIntegration icon={card.icon} company={card.company} />
							))
						}
					</div>
					<div
						aria-hidden="true"
						class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0 [animation-direction:reverse]"
					>
						{
							featureData.botRow.map((card, idx) => (
								<FeatureCardIntegration icon={card.icon} company={card.company} />
							))
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const setupMarquee = () => {
		const marqueeTop = document.querySelector(".marquee-top-integrations");
		const marqueeBottom = document.querySelector(".marquee-bot-integrations");

		// add the clauss "pause" when the mouse enters the marquee
		marqueeTop?.addEventListener("mouseover", () => {
			marqueeTop.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.add("pause");
			});
		});
		marqueeBottom?.addEventListener("mouseover", () => {
			marqueeBottom.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.add("pause");
			});
		});

		// remove the class "pause" when the mouse leaves the marquee
		marqueeTop?.addEventListener("mouseout", () => {
			marqueeTop.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.remove("pause");
			});
		});
		marqueeBottom?.addEventListener("mouseout", () => {
			marqueeBottom.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.remove("pause");
			});
		});
	};

	// runs on initial page load
	setupMarquee();

	// runs on view transitions navigation
	document.addEventListener("astro:after-swap", setupMarquee);
</script>
