---
import FeatureCardSmall from "@components/FeatureCard/FeatureCardSmall.astro";
import FeatureCardSmallList from "@components/FeatureCard/FeatureCardSmallList.astro";
import mainImage from "@images/cherrywood-church.jpg";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";


const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
interface Links {
	href: string;
	icon: string;
}
interface ServiceTime {
	title: string; // the number to showcase
	text: string[]; // description below the number
	icon: string;
	links: Links[];
}

const serviceTimes: ServiceTime[] = [
	{
		title: "Sunday Morning",
		text: [
			"11:00 am to 12:00 pm"
		],
		icon: 'tabler/clock-hour-11',
		links: [],
	},
	{
		title: "Location",
		text: [
			"348 SW Cherry Park Road",
			"Troutdale, Oregon, 97060",
		],
		icon: 'tabler/map',
		links: [
			{
				href: "https://maps.apple/p/xxh1NHS.cEc-kX",
				icon: "tabler/brand-apple",
			},
			{
				href: "https://maps.app.goo.gl/d6qTxwhPZMCKeryh6",
				icon: "tabler/brand-google",
			},
		],
	},
]

interface WhatToExpect {
	icon: string;
	title: string;
	text: string;
}

const whatToExpect: WhatToExpect[] = [
	{
        title: 'Friendly Believers',
        text: 'You will be greeted by a friendly group of believers.',
        icon: 'tabler/friends',
      },
      {
        title: 'Worship Music',
        text:
          'Worship will include a mixture of old hymns, modern hymns, and select contemporary worship music.',
        icon: 'tabler/music',
      },
      {
        title: 'Expository Teaching',
        text:
          'The preaching will be expository from the Bible, and you will be challenged, encouraged, and edified.',
        icon: 'tabler/bible',
      },
    //   {
    //     title: "Children's Church",
    //     text: "Children's Church is offered for children up to 5th grade.",
    //     icon: 'tabler/monkeybar',
    //   },
      {
        title: 'Casual Dress',
        text: 'Most members wear casual to dressy-casual attire.',
        icon: 'tabler/shirt-sport',
      },
      {
        title: 'Fellowship',
        text: 'After service, we invite you to stick around and fellowship with one another.',
        icon: 'tabler/heart-handshake',
      },
];
---

<BaseLayout title={siteData.title} description={siteData.description}>
	<section class="site-container mx-auto mt-16 py-24">
		<div class="mb-16 text-center">
			<h1 class="h1 mb-4">We love Jesus, honor the Word of God, <br />and love one another.</h1>
			<p class="description mb-8 text-lg md:text-xl">
				<span class="italic">Him we proclaim, warning everyone and teaching everyone with all wisdom, that we may present everyone mature in Christ.</span><br />
				Colossians 1:28
			</p>
		</div>

		<Image
			src={mainImage}
			alt="logo"
			loading="lazy"
			height={800}
			class="z-10 mx-auto rounded-xl"
		/>
	</section>

	<section id="location" class="bg-base-200 dark:bg-base-900 py-24 md:py-28">
		<div class="site-container">
			<div class="mx-auto mb-16 text-center md:max-w-2xl" data-aos="fade-up">
				<h2 class="h2 mb-4">Worship Service</h2>
			</div>
			<div id="trigger-small-cards" class="grid gap-4 sm:grid-cols-2 place-items-center lg:items-start">
				{
					serviceTimes.map((feature, idx) => (
						<FeatureCardSmallList
							title={feature.title}
							text={feature.text}
							icon={feature.icon}
							links={feature.links}
							data-aos="zoom-in"
							data-aos-delay={0.15 * idx}
							data-aos-trigger="#trigger-small-cards"
						/>
					))
				}
			</div>
		</div>
	</section>

	<section id="expectations" class="py-24 md:py-28">
		<div class="site-container relative">
			<div class="mx-auto mb-16 text-center md:max-w-2xl" data-aos="fade-up">
				<h2 class="h2 mb-4">What to Expect</h2>
				<p class="description text-lg text-pretty md:text-xl">
					When you visit one of our services, you will notice that we like to keep things simple. We are about knowing God, making Him known, 
					and enjoying the common salvation we have with the saints of Christ. We are a church that holds to the inerrancy, infallibility, 
					and sufficiency of Scripture. We invite you to come and worship with us.
				</p>
			</div>
			<div id="trigger-small-cards" class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:place-items-center">
				{
					whatToExpect.map((feature, idx) => (
						<FeatureCardSmall
							title={feature.title}
							text={feature.text}
							icon={feature.icon}
							data-aos="zoom-in"
							data-aos-delay={0.15 * idx}
							data-aos-trigger="#trigger-small-cards"
						/>
					))
				}
			</div>
		</div>
	</section>
</BaseLayout>
