---
import Badge from "@components/Badge/Badge.astro";
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import BaseLayout from "@layouts/BaseLayout.astro";

const currLocale = getLocaleFromUrl(Astro.url);

// styles
const overview__link =
	"text-base-600 hover:text-primary-600 dark:text-base-400 py-0.5 dark:hover:text-base-200 tracking-tight transition-colors duration-300";
---

<BaseLayout
	title="Nova Overview"
	description="See all the pages and sections included with the Nova theme"
>
	<section class="site-container py-36">
		<div class="mx-auto max-w-4xl text-center">
			<Badge>Overview</Badge>
			<h1 class="h1 -mt-3">The elements of Nova</h1>
			<div class="xs:grid-cols-2 mx-auto mt-10 grid gap-4 md:grid-cols-3">
				<!-- Landing pages -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Landing Pages</h3>
					<a class={overview__link} href={"/"}>Landing 1</a>
					<a class={overview__link} href={"/examples/landing2"}
						>Landing 2</a
					>
					<a class={overview__link} href={"/examples/landing3"}
						>Landing 3</a
					>
				</div>

				<!-- Blog pages -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Blog</h3>
					<a
						class={overview__link}
						href={"/blog/tsconfig-paths-setup"}>Blog Post 1</a
					>
					<a class={overview__link} href={"/examples/blog-post-2"}
						>Blog Post 2</a
					>
					<a class={overview__link} href={"/categories"}
						>Categories</a
					>
					<a class={overview__link} href={"/blog"}>Blog Index</a>
				</div>

				<!-- Sections -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Sections</h3>
					<a class={overview__link} href={"/examples/features"}
						>Feature Sections</a
					>
					<a class={overview__link} href={"/examples/pricing"}
						>Pricing Sections</a
					>
					<a
						class={overview__link}
						href={"/examples/testimonials-faq"}
						>Testimonial and FAQ Sections</a
					>
					<a class={overview__link} href={"/examples/hero-sections"}
						>Hero Sections</a
					>
				</div>

				<!-- Forms -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Forms</h3>

					<a class={overview__link} href={"/contact"}>Contact</a>
					<a class={overview__link} href={"/login"}>Login</a>
					<a class={overview__link} href={"/signup"}>Signup</a>
					<a class={overview__link} href={"/password-reset"}
						>Password Reset</a
					>
				</div>

				<!-- Other -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Other Pages</h3>
					<a class={overview__link} href={"/elements"}>MDX Pages</a>
					<a class={overview__link} href={"/about"}>About</a>
					<a class={overview__link} href={"/privacy-policy"}
						>Privacy Policy</a
					>
					<a class={overview__link} href={"/terms"}>Terms of Use</a>
					<a class={overview__link} href="/not-a-link/">404</a>
					<a
						class={overview__link}
						href={"/rss.xml"}
						target="_blank"
						rel="noopener noreferrer">RSS Feed</a
					>
				</div>

				<!-- Widgets -->
				<div class="flex flex-col">
					<h3 class="dark:text-base-300 mt-6 mb-4 text-xl font-bold md:text-2xl">Widgets</h3>
					<!-- CookieConsent component should be used in BaseLayout.astro if desired -->
					<button id="test-consent-demo-btn" class={overview__link}>Cookie Consent</button>
				</div>
			</div>
		</div>

		<!-- CookieConsent component should be used in BaseLayout.astro if desired -->
		<div id="test-banner" class="fixed inset-x-6 bottom-6 z-50 hidden justify-center">
			<div
				class="border-base-200 bg-base-100 dark:border-base-700 dark:bg-base-900 flex flex-wrap items-center justify-center gap-x-6 gap-y-2 rounded-md border px-5 py-3"
			>
				<div class="text-center">
					<p class="description text-sm font-medium lg:text-base">
						We use cookies to improve your experience on this site. To learn more, see our <a
							href={"/privacy-policy"}
							class="text-base-700 decoration-primary-500 hover:text-primary-500 dark:text-base-300 dark:hover:text-primary-500 underline transition"
							>Privacy Policy</a
						>.
					</p>
				</div>
				<div class="mx-auto flex gap-2">
					<Button variant="primary" type="button">Accept</Button>
					<Button variant="ghost" type="button">Decline</Button>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>

<script>
	//Script purely for demo of the CookieConsent component. Use the actual <CookieConsent /> component in BaseLayout.astro if desired.
	function cookieConsentSetup() {
		const cookieBanner = document.getElementById("test-banner");
		const acceptButton = document.querySelector("#test-banner button:first-of-type");
		const declineButton = document.querySelector("#test-banner button:last-of-type");
		const cookieConsentDemoBtn = document.getElementById("test-consent-demo-btn");

		cookieConsentDemoBtn?.addEventListener("click", () => {
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});

		// If the user clicks the accept button, hide the banner and set a cookie
		acceptButton?.addEventListener("click", () => {
			console.log("cookies accepted example");
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});

		// If the user clicks the decline button, hide the banner and set a cookie
		declineButton?.addEventListener("click", () => {
			console.log("cookies declined example");
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});
	}

	// runs on initial page load
	cookieConsentSetup();

	// runs on view transitions navigation
	document.addEventListener("astro:after-swap", cookieConsentSetup);
</script>
