---
import ChurchCenterLogo from '@assets/images/church-center-logo.svg';
import BookStore from "@assets/images/Visit1.png";
import FooterLink from "@components/Footer/FooterLink.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import SocialIcon from "@components/SocialIcon/SocialIcon.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { Icon } from "astro-icon/components";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

const today = new Date();

const address = "348 SW Cherry Park Road, Troutdale, Oregon"
const email = "info@troutdalechurch.org";
const mailto = `mailto:${email}?subject=Contact from Pleasant Home Website`
const phone = "(503) 919-3583"
const tel = "tel: +15039193583"
---

<footer class="overflow-clip pt-24 pb-16">
	<div class="site-container">
		<div class="border-b pb-20">
			<div class="flex flex-wrap">
				<div class="w-full p-2 md:w-1/2">
					<div class="max-w-m">
						<SiteLogo />
						<p class="mt-11 tracking-tight">
							<p>{(<Icon name="tabler/map-pin" class="w-5 h-5 inline" />)} {address}</p>
          					<p>{(<Icon name="tabler/mail" class="w-5 h-5 inline" />)} <a href={mailto} set:html={email} /></p>
          					<p>{(<Icon name="tabler/phone" class="w-5 h-5 inline" />)} <a href={tel} set:html={phone} /></p>
          					<br />
							<a href="https://troutdalechurch.churchcenter.com/" target="_blank"
								><ChurchCenterLogo width="300" height="87" style="display: inline;" /></a
							>
							<br />
							<a href="https://us.10ofthose.com/partners/troutdalechurch" target="_blank"
								><BookStore width="300"  style="display: inline;" /></a
							>
						</p>
					</div>
				</div>
				<div class="w-full p-2 md:w-1/2">
					<div class="flex flex-wrap justify-between">
						<!-- first links column -->
						<div class="w-auto p-8">
							<!-- <h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Landing Pages
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/"}>Landing 1</FooterLink>
								</li>
								<li>
									<FooterLink href={"/examples/landing2"}
										>Landing 2</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/landing3"}
										>Landing 3</FooterLink
									>
								</li>
							</ul> -->
						</div>

						<!-- second links column -->
						<div class="w-auto p-8">
							<!-- <h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Sections
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/examples/features"}
										>Features</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/pricing"}
										>Pricing</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/testimonials-faq"}
										>Testimonial & FAQ</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/hero-sections"}
										>Hero</FooterLink
									>
								</li>
							</ul> -->
						</div>

						<!-- third links column -->
						<div class="w-auto p-8">
							<h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Resources
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/beliefs"}>What We Believe</FooterLink>
								</li>
								<li>
									<FooterLink href={"/leadership-staff"}>Leadership and Staff</FooterLink>
								</li>
								<li>
									<FooterLink href={"/give"}>Give</FooterLink>
								</li>
								<li>
									<FooterLink href={"/contact"}>Contact</FooterLink>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="py-6">
			<div class="-m-4 flex flex-wrap items-center justify-between">
				<div class="w-auto p-4">
					<p class="tracking-tight">
						&copy; {today.getFullYear()}
						{" "}{siteData.name}. All rights reserved.
					</p>
				</div>
				<div class="w-auto p-4">
					<!-- Socials -->
					<!-- <div class="flex flex-col">
						<div class="flex gap-5">
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-x"
								social="twitter (x)"
							/>
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-facebook"
								social="facebook"
							/>
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-google-filled"
								social="google"
							/>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</footer>
